{% extends 'registration/registration_base.html' %}

{% block title %}Forgotten Password{% endblock %}

{% block first_tab_text %}Log In{% endblock %}

{% block content %}
        <form id="mainForm" method="post" >{% csrf_token %}
		  
          <h1>Forgotten Password</h1>
		  Please enter the email address you registered with. We will send an email to that address with further instructions.
          <div class="border-box">
          	{% if form.errors %} 
            <div class="border-box-inner border-box-first small-text"> 
              {% if form.errors %}
			  <div class="error-message"> 
                Please check the errors detailed below
              </div> <!-- //error-message -->
			  {{ form.non_field_errors }}
			  {% endif %}  
            </div> <!-- //border-box-inner --> 
		    {% endif %}
			
			
			<div class="border-box-inner{% if not form.errors %} border-box-first{% endif %}"> 
              <div class="clearfix row"> 
                <div class="row-left">{{ form.email.label_tag }} <span class="required">*</span></div> 
                <div class="row-right"><div class="textbox{% if form.email.errors %} error{% endif %}" style="width: 175px;">{{ form.email }}</div></div>
				{{ form.email.errors }} 
              </div> <!-- //row --> 
            </div> <!-- //border-box-inner -->

            <div class="border-box-inner border-box-last"> 
              <button type="submit" class="btn btn-big">Reset Password</button>
            </div> <!-- //border-box-inner --> 
          </div> <!-- //border-box --> 
	
		</form>

{% endblock %}

{% block bottom_script %}

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$("#id_email").focus();
	});
	
</script>
{% endblock %}
